/* CSS RESET */
*{
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* CSS GERAL */
.main-alura{
    background-color: #051D3B;
    width: 100%;
}
img{
    width: 100%;
    height: auto;
    display: block;
}


/* ----------------------------------------------- */


.cabecalho-alura{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.logo-alura{
    width: 10%;
}
.logo-alura img{
    width: 100%;
}

.cabecalho-alura #pesquisar-code{
    width: 700px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.16);
    color: #fff;
    border-radius: 8px;
    padding-left: 10px;
}
.cabecalho-alura #pesquisar-code::placeholder{
    color: #fff;
}
.cabecalho-alura #pesquisar-code:hover{
    background-color: rgba(255, 255, 255, 0.32);
}
.menu-mobile{
    display: none;
}
.pesquisar-mobile{
    display: none;
}

/* -------------------------------------- */

.cabecalho-alura .avatar-alura{
    width: 20%;
    display: flex;
    align-items: center;
}
.cabecalho-alura #logo-user{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.cabecalho-alura #name-user{
    color: #fff;
    margin-left: 10px;
}


/* -------------------------------------- */

.editor-alura{
    display: flex;
    min-height: 85vh;
    width: 100%;
    justify-content: space-evenly;
}

.editor-menu{
    width: 10%;
    width: 180px;
    padding-top: 30px;
    margin-left: 50px;
}
.menu-alura{
    width: 200px;
    margin-left: -50px;
}
.menu-alura h2{
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
}
.menu-alura ul{
    list-style: none;
}
.menu-alura li{
    margin-bottom: 20px;
}
.menu-alura a{
    color: #fff;
    text-decoration: none;
}

.menu-alura .fas{
    background-color: #5081FB;
    padding: 16px 14px;
    border-radius: 16px;
    color: #fff;
}

.menu-alura li:hover a, .menu-alura li:hover .fas{
    color: rgba(255, 255, 255, 0.7);
}
.menu-alura li:hover .fas{
    background-color: rgba(80, 129, 251, 0.16);
}

/* ---------------------------------------- */

#editor-code-dinamico{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
#content-comentarior{
    width: 95%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
#realizar-comentario{
    width: 100%;
}
#realizar-comentario h2{
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
}
#realizar-comentario input{
    width: 100%;
    height: 40px;
    background: rgba(80, 129, 251, 0.08);
    color: #fff;
    margin-top: 5px;
}
#realizar-comentario input:hover{
    background: rgba(80, 129, 251, 0.19);
}
#comentar-post{
    padding-top: 10px;
    overflow-y: hidden;
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.16);
    color: #fff;
    resize: none;
    border-radius: 8px;
    padding-left: 10px;
}
#comentar-post:hover {
    background-color: rgba(255, 255, 255, 0.32);
}

#carregar-comentarios{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carregar-comentarios div{
    width: 100%;
    min-height: 70px;
    margin: auto;
    background-color: rgba(14, 55, 105, 0.5);
    color: #fff;
    padding: 10px;
    font-size: .9rem;
    font-weight: 400;
    margin-top: 20px;
}

/* =========================================================== */

.editor-editor{
    width: 500px;
    height: 450px;
    background-color: #00000035;
    margin-bottom: 24px;
}
.editor-borda{
    margin: auto;
    width: 100%;
    height: 280px;
    background-color: #6BD1FF;
    padding: 20px;
    border-radius: 8px;
}
.back-bolinhas{
    width: 100%;
    height: 40px;
    background-color: #141414;
    position: relative;
    border-radius: 8px 8px 0px 0px;
}
.bolinha{
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 15px;
}
.bolinha-red{
    background-color: #FF5F56;
    left: 10px;
}
.bolinha-yellow{
    background-color: #FFBD2E;
    left: 30px;
}
.bolinha-green{
    background-color: #27C93F;
    left: 50px;
}

#editor-code{
    width: 100%;
    height: 200px;
    background-color: #141414;
    border-radius: 0px 0px 8px 8px;
    padding-left: 10px;
    color: #fff;
    overflow-y: hidden;
    resize: none;
    white-space: pre-wrap;
}

.editor-dados{
    padding: 0 24px;
}
.editor-dados h2{
    color: #FFF;
    margin-top: 30px;
}
.editor-editor p{
    color: #FFF;
    margin-top: 20px;
}
.editor-editor span, .editor-editor i{
    color: #FFF;
}

.editor-dados section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.avatar-dados{
    display: flex;
    align-items: center;
}
.comentarios{
    margin-right: 10px;
}
.avatar-dados #logo-dados{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

/* RESPOSIVIDADE */

@media screen and (max-width: 1315px){
    .cabecalho-alura .avatar-alura{
        display: none;
    }
    .logo-alura{
        width: 15%;
    }
    .cabecalho-alura #pesquisar-code{
        width: 70%;
    }
    .menu-mobile{
        width: 10%;
        display: block;
    }
    .menu-mobile .menu-bars{
        font-size: 25px;
        color: #FFF;
        margin-left: 10%;
    }

    /* -=-=-=-=-=-=-=-=-=-=-=-=-=- */

    .editor-alura{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 40px;
    }
    .editor-menu{
        display: none;
    }
    #editor-code-dinamico{
        width: 100%;
    }
    /* -=-=-=-=-=-=-=-=-=-=-=-=-=-  */
    #content-comentarior{
        width: 95%;
        margin: 0 5%;
    }
    .editor-editor{
        width: 100%;
    }
    .editor-editor:nth-of-type(even){
        margin-left: 2%;
    }
    .editor-borda{
        width: 100%;
    }
    .back-bolinhas{
        width: 100%;
    }
    #editor-code{
        width: 100%;
    }

    /*  -=-=-=-=-=-=-=-=-=-=-=-=-=- */


    .editor-sidebar{
        width: 100%;
    }
     
    .sidebar-alura input{
        width: 100%;
    }
     
    .sidebar-alura #lang{
        width: 100%;
    }
}
@media screen and (max-width: 1000px){
    #content-comentarior{
        width: 100%;
        margin: 0;
    }
    #editor-code-dinamico{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .editor-editor:nth-of-type(even){
        margin-left: 0px;
    }
}
@media screen and (max-width: 700px){
    .logo-alura{
        width: 50%;
    }
    .cabecalho-alura #pesquisar-code{
        display: none;
    }
    .pesquisar-mobile{
        display: block;
    }
    .pesquisar-mobile i{
        font-size: 25px;
        color: #FFF;
    }
    .editor-alura{
        padding: 20px 10px;
    }
}


/*  */
.fa-heart:active , .fa-comment:active{
    color: palevioletred;
}