/* CSS RESET */
*{
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* CSS GERAL */
.main-alura{
    background-color: #051D3B;
    width: 100%;
    min-height: 85vh;
}
img{
    width: 100%;
    height: auto;
    display: block;
}


/* ----------------------------------------------- */


.cabecalho-alura{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.logo-alura{
    width: 10%;
}
.logo-alura img{
    width: 100%;
}

.cabecalho-alura #pesquisar-code{
    width: 700px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.16);
    color: #fff;
    border-radius: 8px;
    padding-left: 10px;
}
.cabecalho-alura #pesquisar-code::placeholder{
    color: #fff;
}
.cabecalho-alura #pesquisar-code:hover{
    background-color: rgba(255, 255, 255, 0.32);
}
.menu-mobile{
    display: none;
}
.pesquisar-mobile{
    display: none;
}


.cabecalho-alura .avatar-alura{
    width: 20%;
    display: flex;
    align-items: center;
}
.cabecalho-alura #logo-user{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.cabecalho-alura #name-user{
    color: #fff;
    margin-left: 10px;
}


/* -------------------------------------- */

.editor-alura{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.editor-menu{
    width: 10%;
    padding-top: 30px;
}
.menu-alura{
    width: 200px;
    margin-left: -50px;
}
.menu-alura h2{
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
}
.menu-alura ul{
    list-style: none;
}
.menu-alura li{
    margin-bottom: 20px;
}
.menu-alura a{
    color: #fff;
    text-decoration: none;
}

.menu-alura .fas{
    background-color: #5081FB;
    padding: 16px 14px;
    border-radius: 16px;
    color: #fff;
}

.menu-alura li:hover a, .menu-alura li:hover .fas{
    color: rgba(255, 255, 255, 0.7);
}
.menu-alura li:hover .fas{
    background-color: rgba(80, 129, 251, 0.16);
}


/* ---------------------------------------- */

.export{
    width: 700px;
    height: 501px;
    border: #fff 3px solid;
    border-radius: 8px;
    background-color: #051D3B;
    position: relative;
    margin-bottom: 100px;
}
.export button{
    width: 150px;
    position: absolute;
    background-color: #051D3B;
    color: #C198FB;
    border: solid 2px #C198FB;
    top: 20px;
    right: 20px;
    text-align: center;
}
.export button:hover{
    background-color: #041C1B;
    color: #fff;
    border-color: #fff;
}
.export button:hover i{
    border-color: #fff;
}
.export button i{
    height: 31px;
    vertical-align: middle;
    border-left: solid 2px #C198FB;
    padding-left: 15px;
    margin-left: 10px;
}
.export i.fas{
    padding-top: 7px;
    text-align: center;
}

.editor-editor{
    width: 660px;
    margin: auto;
    margin-top: 75px;
}
.editor-borda{
    margin: auto;
    width: 660px;
    height: 400px;
    background-color: #6BD1FF;
    padding: 40px;
    border-radius: 8px;
}
.back-bolinhas{
    width: 580px;
    height: 40px;
    background-color: #141414;
    position: relative;
    border-radius: 8px 8px 0px 0px;
}
.bolinha{
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 15px;
}
.bolinha-red{
    background-color: #FF5F56;
    left: 10px;
}
.bolinha-yellow{
    background-color: #FFBD2E;
    left: 30px;
}
.bolinha-green{
    background-color: #27C93F;
    left: 50px;
}

#editor-code{
    width: 580px;
    height: 280px;
    background-color: #141414;
    border-radius: 0px 0px 8px 8px;
    padding-left: 10px;
    color: #fff;
    overflow-y: hidden;
    resize: none;
    white-space: pre-wrap;
}
.editor-editor input[type="button"]{
    width: 700px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    height: 50px;
    color: #fff;
    margin-top: 50px;
    margin-left: -20px;
}
.editor-editor input[type="button"]:hover{
    background: rgba(80, 129, 251, 0.19);
}

.modal-export{
    position: absolute;
    top: 65px;
    right: 70px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 200px;
    background-color: rgb(80, 129, 251);
    z-index: 10;
    padding-top: 3px;
}
.modal-export span{
    width: 120px;
    height: 30px;
    text-align: center;
    background-color: rgb(8, 21, 37);
    color: rgb(80, 129, 251);
    margin-bottom: 3px;
    font-size: 1.2rem;
    cursor: pointer;
}
.modal-export span i{
    color: rgb(80, 129, 251);
    font-size: 1.3rem;

}
.modal-export span:hover, .modal-export span:hover i{
    color:#fff;
}

.modal-export-aberto{
    display: flex;
}
/* ----------------------------------------------------- */

.editor-sidebar{
    width: 20%;
}

.sidebar-alura h2{
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.sidebar-alura input{
    width: 270px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.16);
    color: #fff;
    border-radius: 8px;
    padding-left: 10px;
}
.sidebar-alura input::placeholder{
    color: #fff;
}
.sidebar-alura input:hover {
    background-color: rgba(255, 255, 255, 0.32);
}

.sidebar-alura #name-project{
    margin-bottom: 20px;
}
.sidebar-alura #descri-project{
    height: 80px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.sidebar-alura #lang{
    width: 270px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.16);
    color: #fff;
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.sidebar-alura #lang:hover{
    background-color: rgba(255, 255, 255, 0.32);
}
.sidebar-alura #lang option{
    background-color: #051D3B;
    color: #fff;
}
.sidebar-alura #cor-project{
    padding: 0px;
    background-color: initial;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border: 2px solid #fff;
    padding: 3px;
    border-radius: 8px;
}
/* .sidebar-alura #cor-project::-webkit-color-swatch-wrapper {
    padding: 0;
} */
.sidebar-alura #cor-project::-webkit-color-swatch {
    border: none;
    border-radius: 6px;
    width: 30px;
}
.sidebar-alura input[type="button"]{
    background-color: #5081FB;
    color: #051D3B;
}
.sidebar-alura input[type="button"]:hover{
    background-color: rgba(80, 129, 251, .8);
}

/* Modal Mensagem */
.modal-mensagem{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.mensagem{
    position: absolute;
    background-color: rgba(1, 126, 1, .7);
    height: 80px;
    width: 50%;
    right: -50%;
    top: 30px;
    box-shadow: 0px 0px 5px #111111;
    transition: right ease-in-out .3s;
}
.mensagem p{
    font-size: 1.7rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}

/* RESPOSIVIDADE */

@media screen and (max-width: 1315px){
    .cabecalho-alura .avatar-alura{
        display: none;
    }
    .cabecalho-alura .avatar-mobile{
        position: fixed;
        display: flex;
        z-index: 10;
        width: 300px;
        height: 100%;
        padding-top: 20px;
        align-items: flex-start;
        justify-content: center;
        top: 0px;
        right: 0px;
        background-color: rgba(8, 21, 37, 0.9);
    }
    .cabecalho-alura .avatar-mobile #name-user{
        margin-top: 7px;
        margin-left: 10px;
    }
    .cabecalho-alura .avatar-mobile #logo-user{
        width: 36px;
        height: 36px;
        object-fit: cover;
    }
    .logo-alura{
        width: 15%;
    }
    .cabecalho-alura #pesquisar-code{
        width: 70%;
    }
    .menu-mobile{
        width: 10%;
        display: block;
    }
    .menu-mobile .menu-bars{
        font-size: 25px;
        color: #FFF;
        margin-left: 10%;
    }

    /* -=-=-=-=-=-=-=-=-=-=-=-=-=- */

    .editor-alura{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 40px;
    }
    .editor-menu{
        display: none;
    }
    .editor-mobile{
        position: fixed;
        display: block;
        top: 60px;
        right: 152px;
        z-index: 11;
    }

    /* -=-=-=-=-=-=-=-=-=-=-=-=-=-  */
    .export{
        width: 100%;
    }

    .editor-editor{
        width: 100%;
    }
    .editor-borda{
        width: 96%;
    }
    .back-bolinhas{
        width: 100%;
    }
    #editor-code{
        width: 100%;
    }
    .editor-editor input[type="button"]{
        margin-left: 0px;
        width: 100%;
    }
    /*  -=-=-=-=-=-=-=-=-=-=-=-=-=- */


    .editor-sidebar{
        width: 100%;
    }
     
    .sidebar-alura input{
        width: 100%;
    }
     
    .sidebar-alura #lang{
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    .logo-alura{
        width: 50%;
    }
    .cabecalho-alura #pesquisar-code{
        display: none;
    }
    .pesquisar-mobile{
        display: block;
    }
    .pesquisar-mobile i{
        font-size: 25px;
        color: #FFF;
    }
    .editor-alura{
        padding: 20px 10px;
    }
}